# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.meu_ambiente/
*.zip.extracted/
*.zip
*.rar
.conda/
miniconda3/

# QGIS / Geo
*.gpkg
*.tif
*.tiff
*.sqlite
*.db
*.shp
*.shx
*.dbf
*.prj

# logs, outputs, dados grandes
logs/
*/input/
*/output/*.gpkg
*/output/*.tif
*/output/*
/cnr_*/output/
/cnr*

# IDEs
.vscode/
.idea/
*.sublime-workspace

# system files
.DS_Store
Thumbs.db
