attrs
branca==0.8.2
certifi==2025.10.5
charset-normalizer==3.4.4
click
click-plugins==1.1.1.2
cligj==0.7.2
contourpy
cycler==0.12.1
fiona==1.10.1
folium
fonttools
geopandas
idna==3.11
Jinja2==3.1.6
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pyogrio
pyparsing
pyproj
python-dateutil
pytz
PyYAML
requests
rtree
shapely
six
tzdata
urllib3
xyzservices
